/* Services -> Sites */

.container__page-preview {
  padding:10%;
  height:auto;
}

.caption__page-preview_h1 {
  font-size:3em;
  margin-bottom:15px;
}

.caption__page-preview_h3 {
  font-size:1em;
}

.page-preview-arrow_small {
  font-size:0.8em !important;
  padding:0% 0.5%;
}

.active-page {
  cursor:pointer;
  color:var(--light-gray);
}

.promo-block__advantages {
  width:100%;
  display:flex;
  justify-content:center;
  margin-top:30px;
}

.promo-advantages {
  display:flex;
  width:33.333333%;
  justify-content:space-around;
  flex-direction:column;
  align-items:center;
}

.promo-advantages__text {
  margin-top:10px;
}

.icon__advantages {
  transform:none;
  font-size:2.3em !important;
}

.caption__advantages {
  font-size:1.4em;
  color:var(--white);
}

/* Services -> Sites */

/* Privacy-styles */

.privacy__block {
  margin-bottom:20px;
  width:auto;
  height:auto;
  display:flex;
  flex-direction:column;
  padding:0% 15%;
}

.privacy__logo {
  display:flex;
  width:100%;
  height:auto;
  justify-content:center;
  border-bottom:2px solid #eeeeee;
  margin-bottom:20px;
}

.privacy__image {
  width:15%;
}

.privacy__image:hover {
  margin-top:0;
}

.privacy__caption_h3 {
  font-size:1.5em;
}

/* END--Privacy-styles */
