/* Services -> Sites */

.container__page-preview {
  padding:10%;
  height:auto;
}

.caption__page-preview_h1 {
  font-size:3em;
  margin-bottom:15px;
}

.caption__page-preview_h3 {
  font-size:1em;
}

.page-preview-arrow_small {
  font-size:0.8em !important;
  padding:0% 0.5%;
}

.active-page {
  cursor:pointer;
  color:var(--light-gray);
}

/* Services -> Sites */

/* Privacy-styles */

.privacy__block {
  margin-bottom:20px;
  width:auto;
  height:auto;
  display:flex;
  flex-direction:column;
  padding:0% 15%;
}

.privacy__logo {
  display:flex;
  width:100%;
  height:auto;
  justify-content:center;
  border-bottom:2px solid #eeeeee;
  margin-bottom:20px;
}

.privacy__image {
  width:15%;
}

.privacy__image:hover {
  margin-top:0;
}

.privacy__caption_h3 {
  font-size:1.5em;
}

/* END--Privacy-styles */
