/* Services -> Sites */

.container__page-preview {
  padding:10%;
  height:auto;
}

.caption__page-preview_h1 {
  font-size:3em;
  margin-bottom:15px;
}

.caption__page-preview_h3 {
  font-size:1em;
}

.page-preview-arrow_small {
  font-size:0.8em !important;
  padding:0% 0.5%;
}

.active-page {
  cursor:pointer;
  color:var(--light-gray);
}

.promo-block__advantages {
  width:100%;
  display:flex;
  justify-content:center;
  margin-top:30px;
}

.promo-advantages {
  display:flex;
  width:33.333333%;
  justify-content:space-around;
  flex-direction:column;
  align-items:center;
}

.promo-advantages__text {
  margin-top:10px;
}

.icon__advantages {
  transform:none;
  font-size:2.3em !important;
}

.caption__advantages {
  font-size:1.4em;
  color:var(--white);
}

/* Services -> Sites */

/* Services -> Other */

.partner-mg {
  display:flex;
  flex-direction:column;
}

.partner-mg__caption {
  text-align:right;
  font-weight:bold;
  font-size:1.4em;
}

.partner-mg__image {
  display:flex;
  width:100%;
  justify-content:flex-end;
}

.image__partner-mg {
  width:auto;
}

.image__partner-mg:hover{
  margin-top:0px;
}

/* Services -> Other */

/* Contacts */

.partners {
  display:flex;
  flex-direction:column;
  padding:5% 10%;
}

.partners__caption::before {
  position:absolute;
  top:40px;
  left:50%;
  transform:translate(-50%,0%);
  content:'Партнеры';
  width:auto;
  height:auto;
  font-size:0.6em;
  color:var(--main-blue);
}

.partners__caption::after {
  position:relative;
  margin-left:50%;
  margin-top:15px;
  transform:translate(-50%,0%);
  content:'';
  width:12%;
  height:2px;
  background:var(--main-blue);
  display:flex;
}

.partners__logos {
  display:flex;
  width:100%;
  justify-content:space-around;
  margin-top:30px;
}

.image__partners {
  width:auto;
}

.image__partners:hover {
  margin-top:0px;
}

/* Contacts */

/* Privacy-styles */

.privacy__block {
  margin-bottom:20px;
  width:auto;
  height:auto;
  display:flex;
  flex-direction:column;
  padding:0% 15%;
}

.privacy__logo {
  display:flex;
  width:100%;
  height:auto;
  justify-content:center;
  border-bottom:2px solid #eeeeee;
  margin-bottom:20px;
}

.privacy__image {
  width:15%;
}

.privacy__image:hover {
  margin-top:0;
}

.privacy__caption_h3 {
  font-size:1.5em;
}

/* END--Privacy-styles */

/* Portfolio */

.portfolio {
  display:flex;
  flex-direction:column;
  padding:5% 10%;
}

.portfolio__all {
  display:flex;
  margin-top:30px;
  justify-content:space-around;
  flex-direction:column;
}

.portfolio__imgs {
  display:flex;
  justify-content:space-around;
}

.portfolio__imgs img {
  width:300px;
  height:416px;
}

/* END--Portfolio */
