/* 1920px */

@media screen and (min-width:1900px) {
  .container__top {
    padding:1% 20%;
  }

  .container__preview-block,
  .container__services,
  .container__problems,
  .container__prices,
  .container__work-process,
  .container__form,
  .container__portfolio,
  .partners,
  .portfolio {
    padding:5% 20%;
  }

  .container__page-preview {
    padding:10% 20%;
  }

  .footer__inner {
    padding:1% 15%;
  }

  .caption__preview {
    padding-right:20%;
  }

  .text__preview {
    padding-right:20%;
  }

  .caption__services::before,
  .caption__steps::before,
  .caption__prices::before,
  .portfolio__caption::before,
  .caption__contact::before,
  .partners__caption::before {
    top:60px;
  }
}

/* 1920px */

/* Mobile */

@media screen and (max-width:1000px) {
  .container_fixed {
    display:none;
  }

  .container__top {
    flex-flow:row nowrap;
    padding:5% 10%;
  }

  .logo {
    flex-grow:5;
  }

  .menu {
    display:none;
  }

  .container__preview-block {
    flex-flow:column-reverse;
    padding:5%;
  }

  .text__preview {
    padding-right:0%;
  }

  .preview-block__right {
    text-align:left;
  }

  .container__services {
    padding:10%;
    margin-top:10px;
  }

  .services {
    flex-flow:column;
    margin:0;
  }

  .service-block {
    width:auto;
  }

  .service-block__margin {
    margin:40px 0 0 0;
  }

  .container__problems {
    flex-flow:column;
  }

  .problems__image {
    display:flex;
    justify-content:center;
  }

  .problems__text {
    padding:0;
  }

  .container__tabs {
    overflow:auto;
    width:auto;
    justify-content:flex-start;
  }

  .tab__text {
    flex-flow:column;
  }

  .tab__text-block {
    flex-grow:10;
    padding-left:0%;
    width:100%;
  }

  .tab__image-block {
    justify-content:center;
  }

  .tab__image {
    width:250px;
    height:250px;
  }

  .prices {
    flex-flow:column;
  }

  .portfolio__images {
    flex-flow:column;
  }

  .portfolio__image {
    margin-top:40px;
    margin-left:0;
  }

  .portfolio__images:nth-child(2) {
    display:none;
  }

  .contact-block__inner {
    flex-flow:column-reverse;
  }

  .contact__form {
    padding:0;
  }

  .footer__text {
    text-align:center;
  }

  .caption__services::before,
  .caption__steps::before,
  .caption__prices::before,
  .portfolio__caption::before,
  .caption__contact::before {
    top:0%;
  }

  .go-top {
    display:none !important;
  }

  .portfolio__imgs, .portfolio__imgs a {
    flex-direction:column;
    justify-content:center;
    text-align:center;
  }

  .portfolio__imgs img {
    width:200px;
    height:316px;
  }
}

/* Mobile */

/* Mobile menu */

.mobile-menu {
  display:none;
}

@media screen and (max-width:1000px) {
  .mobile-menu {
    position:relative;
    bottom:0;
    left:0;
    display:flex;
    width:100%;
    height:auto;
    background:var(--white);
    border-top:1px solid var(--light-gray);
  }

  .mobile-menu__items {
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    width:100%;
    margin:5px 0px;
  }

  .mobile-menu__item {
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .mobile-menu__image {
    position:relative;
    width:auto;
    height:auto;
    padding-bottom:1px;
  }

  .mobile-menu_active {
    color:var(--main-blue) !important;
  }

  .icon__mobile-menu {
    transform:none;
    font-size:1.5em !important;
    margin:auto;
  }

  .mobile-menu__a {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    color:var(--light-gray);
    font-family:'EB Garamond', serif;
  }

  .mobile-menu__link {
    font-size:0.9em;
    margin:0;
  }

  .promo-block__advantages {
    flex-direction:column;
    margin-top:0;
  }

  .promo-advantages {
    width:100%;
    margin-top:30px;
  }
}

/* @media screen and (max-width:1000px) {
  .mobile-menu {
    display:flex;
    flex-grow:5;
    margin:auto;
    justify-content:flex-end;
  }

  .visuallyHidden {
    position:absolute;
    overflow:hidden;
    clip:rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
  }

  .hamburger {
    margin:0 auto;
    width:30px;
    height:30px;
    position:relative;
  }

  .hamburger .bar {
    padding:0;
    width:30px;
    height:4px;
    background-color:var(--main-blue);
    display:block;
    border-radius:4px;
    transition:all .4s ease-in-out;
    position:absolute;
  }

  .bar1 {
    top:0;
  }

  .bar2,
  .bar3 {
    top:13.5px;
  }

  .bar3 {
    right:0;
  }

  .bar4 {
    bottom:0;
  }

  .checkbox2:checked + label > .hamburger2 > .bar1 {
    transform:translateX(40px);
    background-color:transparent;
  }

  .checkbox2:checked + label > .hamburger2 > .bar2 {
    transform:rotate(45deg);
  }

  .checkbox2:checked + label > .hamburger2 > .bar3 {
    transform:rotate(-45deg);
  }

  .checkbox2:checked + label > .hamburger2 > .bar4 {
    transform:translateX(-40px);
    background-color:transparent;
  }
} */

/* Mobile menu */
