@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans+Condensed:300|Yanone+Kaffeesatz');

.text {
  font-size:1.2em;
  color:var(--black);
  font-family:'EB Garamond', serif;
}

.family-Condensed {
  font-family:'Open Sans Condensed', sans-serif;
}

.family-Yanone {
  font-family:'Yanone Kaffeesatz', sans-serif;
}

.input {
  border:1px solid var(--main-gray);
  padding:15px 10px !important;
  margin:0;
  display:block;
  font-size:1em !important;
  width:100% !important;
  transition:1s;
}

.input:focus {
  border:1px solid var(--black) !important;
  outline:none !important;
}

.container__header {
  background-color:var(--light-blue);
  background-size:cover;
  min-height:100px;
  height:auto;
}

#js-fixed {
  transition:1s;
}

.container__top {
  padding:1% 10%;
  display:flex;
  flex-flow:row nowrap;
}

.logo {
  flex-grow:5;
}

.caption__header::before {
  content:'';
  background:var(--main-blue);
  display:flex;
  height:2px;
  width:12%;
}

.menu {
  flex-grow:5;
  margin:auto;
  padding:0;
  text-align:right;
}

.menu li {
  display:inline-flex;
  margin:0;
  padding:0% 2%;
}

.menu li:last-child {
  padding-right:0;
}

.menu-link {
  font-size:1em;
  font-family:'Yanone Kaffeesatz', sans-serif;
}

.menu-link:hover {
  color:var(--light-gray);
}

.menu-link_active {
  color:var(--main-blue);
}

.menu-link_active:hover {
  color:var(--main-blue);
}

.menu__dropdown::after {
  display:inline-flex;
  margin-top:4px;
  margin-left:5px;
  content:'';
  height:4px;
  width:4px;
  border:1px solid var(--black);
  border-width:0px 1px 1px 0px;
  transform:rotate(45deg);
}

.submenu {
  display:none;
  position:absolute;
  margin-top:15px;
  padding:1.5%;
  background:var(--white);
  text-align:left;
  box-shadow:0px 0px 3px var(--light-gray);
}

.submenu li {
  display:block;
  padding:2% 0%;
}

.button {
  margin:0;
  padding:2% 4%;
  border-radius:50px;
  text-decoration:none;
  color:var(--black);
  background:var(--white);
  box-shadow:0px 0px 3px var(--light-gray);
  font-family:'Yanone Kaffeesatz', sans-serif;
  transition:1s;
}

.button:hover {
  box-shadow:none;
  color:var(--main-blue);
}

.button_form {
  padding:3% 8%;
  color:var(--white);
  background:var(--main-blue);
  border:1px solid transparent;
  font-size:1em;
  cursor:pointer;
}

.button_form:hover {
  background:transparent;
  border:1px solid var(--main-blue);
}

/* ------------------------ */

.container__preview-block {
  display:flex;
  flex-flow:row nowrap;
  padding:5% 10%;
}

.preview-block__left {
  flex-grow:5;
  margin:auto;
}

.caption__preview {
  font-size:3em;
  color:var(--main-blue);
}

.text__preview {
  padding-right:15%;
  margin-bottom:25px;
  color:var(--light-gray);
  font-size:1.2em;
}

.preview-block__right {
  flex-grow:5;
  text-align:right;
  width:100%;
  height:512px;
}

.image__notebook {
  position:absolute;
  left:0;
  bottom:0;
}

.image__cloudes {
  position:absolute;
  top:60px;
  left:0;
}

.image__rocket {
  position:absolute;
  width:13%;
  top:25px;
  left:15%;
}

/* .image__preview {
  width:90%;
}

.image__preview:hover {
  margin-top:0px;
} */

/* ------------------------ */

.container__services {
  display:flex;
  flex-direction:column;
  padding:5% 10%;
}

.caption__services {
  text-align:center;
}

.caption__services::before {
  position:absolute;
  top:40px;
  left:50%;
  transform:translate(-50%,0%);
  content:'Сайты';
  width:auto;
  height:auto;
  font-size:0.6em;
  color:var(--main-blue);
}

.caption__services::after {
  position:relative;
  margin-left:50%;
  margin-top:15px;
  transform:translate(-50%,0%);
  content:'';
  width:12%;
  height:2px;
  background:var(--main-blue);
  display:flex;
}

.services {
  margin:30px 0px;
  width:100%;
  height:auto;
  display:flex;
  flex-flow:row nowrap;
}

.service-block {
  width:33%;
  min-height:100px;
  height:auto;
  border-radius:12px;
  box-shadow:0px 0px 10px var(--lighter-gray);
  transition:1s;
}

.service-block:hover {
  cursor:default;
  box-shadow:0px 0px 10px var(--light-gray);
}

.service-block__margin {
  margin:0% 5%;
}

.service-block__margin:first-child {
  margin-left:0%;
}

.service-block__margin:last-child {
  margin-right:0%;
}

.service__inner {
  padding:8% 10%;
}

.services__image {
  position:relative;
  margin-left:50%;
  transform:translate(-50%,0%);
  width:80px;
  height:80px;
  padding-bottom:20px;
}

.services__image-inner {
  width:100%;
  height:100%;
  border-radius:12px;
  transform:rotate(45deg);
  background:var(--main-gradient);
  display:flex;
}

.icon {
  font-size:3em !important;
  transform:rotate(-45deg);
  margin:auto;
  color:var(--light-blue) !important;
}

.service__button {
  margin-top:20px;
  text-align:center;
}

.button_lightBlue {
  transition:1s;
  color:#333333;
  padding:1.5% 3%;
}

/* ------------------------ */

.container_lightBlue {
  background:var(--light-blue);
}

.container__problems {
  display:flex;
  flex-flow:row nowrap;
  padding:5% 10%;
}

.problems__image {
  flex-grow:5;
}

.image__problems {
  width:90%;
}

.problems__text {
  flex-grow:5;
  margin:auto;
  padding:0% 0% 0% 15%;
}

.problems__list {
  padding:0;
  margin:0;
  list-style-type:none;
}

.problems__li::before {
  display:inline-block;
  width:10px;
  height:10px;
  background:var(--main-gradient);
  border-radius:3px;
  transform:rotate(45deg);
  content:'';
}

.problems__li {
  padding:15px 0px;
  border-bottom:1px dashed var(--light-gray);
}

.problems__li:last-child {
  border:none;
}

.problems__span {
  font-size:1em;
  padding-left:5%;
  transition:0.5s;
}

.problems__span:hover {
  cursor:default;
  padding-left:6%;
}

/* ------------------------ */

.container_promo {
  background:var(--main-gradient);
}

.promo-block {
  display:flex;
  flex-direction:column;
  padding:5% 10%;
  margin:auto;
}

.caption__promo {
  color:var(--white);
  padding:10px 0px;
}

.text__promo {
  color:var(--lighter-gray);
  padding:0px 0px 30px 0px;
  font-size:1.3em;
}

.promo__button {
  margin-top:10px;
}

.button_border {
  box-shadow:none;
  border:1px solid var(--white);
  padding:1.5% 3%;
}

.button_border:hover {
  background:transparent;
  color:var(--white);
}

/* ------------------------ */

.container__work-process {
  display:flex;
  flex-direction:column;
  padding:5% 10%;
}

.caption__steps::before {
  position:absolute;
  top:40px;
  left:50%;
  transform:translate(-50%,0%);
  content:'Рабочий процесс';
  width:auto;
  height:auto;
  font-size:0.6em;
  color:var(--main-blue);
}

.caption__steps::after {
  position:relative;
  margin-left:50%;
  margin-top:15px;
  transform:translate(-50%,0%);
  content:'';
  width:12%;
  height:2px;
  background:var(--main-blue);
  display:flex;
}

.container__tabs {
  margin-top:30px;
  width:100%;
  height:auto;
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  align-content:center;
  justify-content:center;
  overflow:hidden;
}

.link__tabs {
  width:auto;
  padding:1%;
  margin:2% 3%;
  border-bottom:1px dashed var(--light-gray);
  cursor:pointer;
  transition:1s;
}

.link__tabs:first-child {
  margin-left:0px;
}

.link__tabs:last-child {
  margin-right:0px;
}

.link__tabs_active {
  border-bottom:1px solid var(--main-blue);
}

.steps__image {
  position:relative;
  margin-left:50%;
  transform:translate(-50%,0%);
  width:65px;
  height:65px;
  padding-bottom:20px;
}

.steps__image-inner {
  width:100%;
  height:100%;
  border-radius:12px;
  transform:rotate(45deg);
  background:var(--lighter-gray);
  display:flex;
}

.steps__image-inner_active {
  width:100%;
  height:100%;
  border-radius:12px;
  transform:rotate(45deg);
  background:var(--main-gradient);
  display:flex;
}

.icon__steps {
  font-size:2em !important;
  color:var(--main-blue) !important;
}

.icon__steps_active {
  color:var(--lighter-gray) !important;
}

.tab__text {
  flex-flow:row nowrap;
  text-align:left;
  margin-top:30px;
  display:none;
}

.tab_active {
  display:flex;
}

.tab__image-block {
  flex-grow:5;
}

.tab__image {
  width:90%;
}

.tab__image:hover {
  margin:0;
}

.tab__text-block {
  flex-grow:5;
  padding-left:15%;
  margin:auto;
}

.tab__text-block:nth-child(1), .tab__text-block:nth-child(3) {
  padding:0% 15% 0% 0%;
}

/* ------------------------ */

/* ------------------------ */

.container__prices {
  display:flex;
  flex-direction:column;
  padding:5% 10%;
}

.caption__prices::before {
  position:absolute;
  top:40px;
  left:50%;
  transform:translate(-50%,0%);
  content:'Цены';
  width:auto;
  height:auto;
  font-size:0.6em;
  color:var(--main-blue);
}

.caption__prices::after {
  position:relative;
  margin-left:50%;
  margin-top:15px;
  transform:translate(-50%,0%);
  content:'';
  width:12%;
  height:2px;
  background:var(--main-blue);
  display:flex;
}

.prices {
  margin:30px 0px;
  width:100%;
  height:auto;
  display:flex;
  flex-flow:row nowrap;
}

.cost {
  border-top:1px solid var(--main-blue);
  border-bottom:1px solid var(--main-blue);
  padding:20px 0px;
  font-size:1.3em;
}

.capability__li {
  padding:7px 0px;
}

.cost__button {
  margin-top:20px;
}

.cost-block__button {
  padding:6% 12%;
}

/* ------------------------ */

/* ------------------------ */

.container__portfolio {
  display:flex;
  flex-direction:column;
  padding:5% 10%;
}

.portfolio__caption::before {
  position:absolute;
  top:40px;
  left:50%;
  transform:translate(-50%,0%);
  content:'Наши работы';
  width:auto;
  height:auto;
  font-size:0.6em;
  color:var(--main-blue);
}

.portfolio__caption::after {
  position:relative;
  margin-left:50%;
  margin-top:15px;
  transform:translate(-50%,0%);
  content:'';
  width:12%;
  height:2px;
  background:var(--main-blue);
  display:flex;
}

.portfolio__images {
  display:flex;
  flex-flow:row nowrap;
  margin-top:30px;
}

.portfolio__image {
  flex-grow:2;
  cursor:pointer;
  height:250px;
  width:auto;
  margin-left:4%;
  background-position:top center;
  background-repeat:no-repeat;
  background-size:170%;
  transition:2s;
}

.portfolio__image:hover {
  background-size:190%;
}

.portfolio__image:first-child {
  margin:0;
}

.image-1 {
  background-image:url('../images/portfolio/img-1.jpg');
}

.image-2 {
  background-image:url('../images/portfolio/img-2.jpg');
}

.image-3 {
  background-image:url('../images/portfolio/img-3.jpg');
}

.image-4 {
  background-image:url('../images/portfolio/img-4.jpg');
}

.image-5 {
  background-image:url('../images/portfolio/img-5.jpg');
}

.image-6 {
  background-image:url('../images/portfolio/img-6.jpg');
}

.image-7 {
  background-image:url('../images/portfolio/img-7.jpg');
}

.image-8 {
  background-image:url('../images/portfolio/img-8.jpg');
}

.portfolio-img {
  position:relative;
  width:100%;
}

.portfolio-img__inner {
  background:rgba(0,0,255,.4);
  height:250px;
  display:flex;
  opacity:0;
}

.link__portfolio {
  background:var(--white);
  padding:10px 20px;
  border:1px solid var(--white);
}

.link__portfolio:hover {
  background:transparent;
  color:var(--white);
}

.portfolio-img__button {
  margin:auto;
}

.portfolio__button {
  margin-top:50px;
}

.button_portfolio {
  padding:1.5% 3%;
}

/* ------------------------ */

/* ------------------------ */

.container__form {
  display:flex;
  flex-direction:column;
  padding:5% 10%;
}

.caption__contact::before {
  position:absolute;
  top:40px;
  left:50%;
  transform:translate(-50%,0%);
  content:'Увеличить прибыль';
  width:auto;
  height:auto;
  font-size:0.6em;
  color:var(--main-blue);
}

.caption__contact::after {
  position:relative;
  margin-left:50%;
  margin-top:15px;
  transform:translate(-50%,0%);
  content:'';
  width:12%;
  height:2px;
  background:var(--main-blue);
  display:flex;
}

.contact-block__inner {
  margin:30px 0px;
  width:100%;
  height:auto;
  display:flex;
  flex-flow:row nowrap;
}

.contact__form {
  flex-grow:5;
  margin:auto;
  padding-right:12%;
}

.contact__contacts {
  flex-grow:5;
}

.contact__input_name,
.contact__input_phone,
.contact__input_email,
.contact__input_textarea,
.rule__agree {
  margin:10px 0px;
}

.input__NamePhone, .input__email, .input__textarea {
  display:flex;
  flex-flow:row nowrap;
}

.contact__input_name, .contact__input_phone {
  flex-grow:5;
}

.contact__input_name {
  margin-right:4%;
}

.contact__input_textarea {
  max-height:100px;
  min-height:100px;
}

.text__privacy {
  font-size:1em;
}

.contacts__phone, .contacts__email, .contacts__address {
  border-bottom:1px dashed var(--light-gray);
  padding:5px 0px 25px 0px;
  margin:10px 0px;
}

.phone, .email, .address {
  font-size:1.1em;
  font-weight:bold;
}

.contacts__address {
  border:none;
}

.contact__button {
  outline:none;
}

.contacts__icon {
  padding-right:5px;
  color:var(--main-blue);
  font-size:1.1em !important;
}

.contacts__text {
  padding-left:25px;
  font-size:0.9em;
}

/* ------------------------ */

/* ------------------------ */

.footer__inner {
  padding:1% 10%;
  background:#121212;
}

.footer__text {
  margin:0;
  font-size:1em;
  color:var(--light-gray);
  text-align:right;
}

/* ------------------------ */

.go-top {
  position:fixed;
  bottom:6%;
  right:5%;
  display:block;
  cursor:pointer;
  width:auto;
  font-size:2.5em;
}

.arrowToTop {
  transition:1s;
  color:var(--black);
}

.arrowToTop:hover {
  color:var(--light-gray);
}
